$border-size: 3px;
.pageWrapper {
	height: calc(100vh - var(--header-height) - $border-size);
	width: 100%;
	background: linear-gradient(
		180deg,
		var(--bg-color-light) 0%,
		var(--bg-color-dark) 100%
	);
	box-sizing: border-box;
	border-top: $border-size solid rgba(255, 255, 255, 0.377);
}

.mainBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 1200px) {
		flex-direction: column-reverse;
		.mainImage {
			width: 70%;
		}
	}
}

.mainText {
	max-width: 512px;
	:nth-child(n) {
		margin-bottom: 64px;
		line-height: 100%;
	}
	h1 {
		font-size: 72px;
	}

	p {
		font-size: 32px;
	}
	@media (max-width: 1200px) {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 18px;
		}
		:nth-child(n) {
			margin-bottom: 36px;
		}
	}
}

.mainButton {
	height: 66px;
	color: #212121;
	font-weight: 700;
	font-size: 23px;
	background: var(--main-color-button);
	box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
	border-radius: 11px;
	cursor: pointer;
	transition:
		box-shadow 0.3s ease-out,
		background 0.3s ease-out,
		color 0.3s ease-out;
}

.mainButton:hover {
	color: #121111;
	background: #ffffff;
	box-shadow: inset 0px -9px 0px rgba(155, 154, 154, 0.849);
}
